<a href="#" class="{{dropdownMenuToggleClassName}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{toggleLabel}} <i class="{{dropdownMenuToggleIconClassName}}"></i></a>

<ul class="{{#if dropdownMenuClassName}}{{../dropdownMenuClassName}}{{/if}}"></ul>