.activity-indicator-dimmer.fixed {
	position: fixed;
}

.activity-indicator-dimmer.dimmed { 
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
form footer { padding: 0 0; display: block; }
form footer [type="submit"] { float: left; }
form footer { border-top: 1px solid #e6e6e6; margin-top: 20px; padding-top: 20px; position: relative; }
form footer.no-border { border-top: 0; margin-top: 0; padding-top: 0; }
form footer .cancel:not(.button) { margin-left: 1em; font-size: 14px; font-weight: 200; }
form footer .form-indicator { position: absolute; right: 30px; top: 35px; }
form footer .activity-indicator-dimmer { background: transparent; position: static; }
form footer .activity-indicator-dimmer .activity-indicator { position: relative; right: 0;}
form footer:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
form footer .btn-primary + .btn-default { margin-left: 5px; }
.inline-editor { 
	position: relative;
	display: inline-block;
}
.inline-editor-field { 
	display: none; 
}
.inline-editor-editting .inline-editor-field { 
	display: block; 
}
.inline-editor-editting .inline-editor-label { 
	display: none; 
}
.inline-editor-edit-icon {
	display: none;
	position: absolute;
	right: -25px;
	top: 3px;
	font-size: 14px;
}
.inline-editor:hover:not(.inline-editor-editting) .inline-editor-edit-icon {
	display: block;
}
.inline-editor-activity-indicator { 
	display: none; 
	position: absolute; 
	right: -20px; 
	top: 17px;
}
.inline-editor-editting .inline-editor-activity-indicator { 
	display: block;
}
.notifications {
	position: fixed;
	top: 70px;
	right: 1em;
	z-index: 2500;
	font-size: 14px;
}
.notification {
	position: relative;
	left: 110%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	background: black;
	background: rgba(0, 0, 0, .8);
	width: 330px;
	padding: 5px 15px;
	color: white;
	margin-bottom: 10px;
  	-webkit-transition:all .5s ease-in-out;
  	-moz-transition:all .5s ease-in-out;
  	-o-transition:all .5s ease-in-out;
  	transition:all .5s ease-in-out;
  	border: none;
  	border-radius: 0;
}
.notification.alert,
.notification.error {
	background: rgb(228, 25, 72);
}
.notification.warning {
	background: rgb(251, 163, 64);
}
.notification.success {
	background: rgb(43, 196, 161);
}
.notification .icon,
.notification .icon:hover {
	float: left;
	padding: 15px 0;
	font-size: 26px;
	color: white;
}
.notification .close {
	position: absolute;
	color: white;
	top: 10px;
	right: 10px;
	font-size: 14px;
	z-index: 100;
}
.notification.visible {
	left: 0;
}
.notification h3 {
	color: white;
	margin-bottom: 5px;
	margin-top: 0;
}
.notification p {
	margin-bottom: 10px;
	line-height: 20px;
	font-size: 15px;
}
table .sort-icon { display: none; }
table .sort-asc .asc { display: inline-block; }
table .sort-desc .desc { display: inline-block; }
table + .pagination,
table + .pagination .pager  { margin-top: 0; width: 100%; }
table .activity-indicator-row { position: relative; height: 300px; }
table .page-totals { text-align: center; font-weight: 200; }

.box { border: 1px solid rgb(214, 214, 214); margin: 0; border-top: 1px solid rgb(204, 204, 204); clear: both; }
.box table { border-collapse: collapse; margin: 0; width: 100%; }

.box > h4 { position: relative; background: rgb(227, 227, 227); color: rgb(50, 50, 50); margin: 0; font-size: 18px; padding: 10px 10px 10px 10px; text-shadow: 0 1px 0 white; border-bottom: 1px solid rgb(204, 204, 204); }
.box > h4 .dropdown { margin: 0; position: absolute; top: 10px; right: 8px; }
.box > h4 .dropdown-trigger { padding: 7px; }
.box > h4 .dropdown-menu { background: rgb(50, 50, 50); }
.box > h4 .dropdown-menu h5,
.box > h4 .dropdown-menu label { color: white; text-shadow: none; }
.box > h4 a.dropdown-trigger:hover, 
.box > h4 a.dropdown-trigger:focus, 
.box > h4 a.dropdown-trigger:active { color: rgb(50, 50, 50); }
.box > h4 .active a.dropdown-trigger,
.box > h4 .active a.dropdown-trigger:hover,
.box > h4 .active a.dropdown-trigger:active,
.box > h4 .active a.dropdown-trigger:focus { color: white; text-shadow: none; background: rgb(50, 50, 50); }
.box tr { border-bottom: 1px solid rgb(234, 234, 234);  }
.box tr:last-child { border: none; }
.box th { background: rgb(248, 248, 248); color: rgb(100, 100, 100); text-shadow: 0 1px 0 white; padding: 16px 10px; border-bottom: 1px solid rgb(214, 214, 214); font-size: 16px; }
.box table tr.error { background: rgb(250, 246, 246) !important; }
.box table tr.error td, .box table tr.error td a { color: rgb(144, 35, 40); }
.box table tr.even, 
.box table tr.alt, 
.box table tr:nth-of-type(even) { background: white; }
.box td { padding: 10px; }
.box td:last-child.small { width: 100px; font-size: 12px; }
.box td:last-child .button { margin: 0; }
.box td:first-child { font-weight: 600; font-size: 14px; }
.box tfoot { background: white; border-top: 1px solid rgb(234, 234, 234); }
.box tfoot td p { text-align: left; margin: 0; font-size: 14px; color: rgb(154, 154, 154); }

@media screen and (max-width: 1024px) {

	.box table:not(.unresponsive) tr th,
	.box table:not(.unresponsive) tr td { display: none; }
	.box table:not(.unresponsive) tr td a.table-action,
	.box table:not(.unresponsive) tr td a.table-action:hover { top: 8px; right: 5px; background: none; color: rgb(0, 84, 215); display: none; font-weight: 100; }

	.box table:not(.unresponsive) tr th:first-child,
	.box table:not(.unresponsive) tr td:first-child { display: table-cell; }

	.box table:not(.unresponsive) tr th:nth-child(2),
	.box table:not(.unresponsive) tr td:nth-child(2) { display: table-cell; }
}


@media screen and (max-width: 640px) {

	.box table:not(.unresponsive) tr th:nth-child(2),
	.box table:not(.unresponsive) tr td:nth-child(2) { display: none; }
}