<td class="activity-indicator-row" colspan="{{columns.length}}" {{#if height}}style="height:{{../height}}px"{{/if}}>

	<div class="activity-indicator-dimmer">
		
		<span class="activity-indicator"></span>

	</div>

</td>