.table-view .buttons-wrapper {
	margin-bottom: 15px;
}

.table-view .sort-icon {
	display: none;
}

.table-view .sort-asc .asc {
	display: inline-block;
}
.table-view .sort-desc .desc {
	display: inline-block;
}

.table-view + .pagination,
.table-view + .pagination .pager  {
	margin-top: 0;
	width: 100%;
}

.table-view .table-view-footer {
	text-align: center;
	font-weight: 200;
}

.table-view .activity-indicator-row {
	position: relative;
	height: 300px;
}

.table-view tr td {
	position: relative;
}

.table-view .table-action {
	position: absolute;
	right: 100%;
	top: 3px;
	min-width: 55px;
	border-radius: 1000px 0 0 1000px;
	background: gray;
	font-size: 11px;
	padding: 3px 3px 3px 6px;
	color: white;
	display: none;
}
.table-view tr:hover .table-action {
	display: block;
	font-weight: 300;
}
.table-view tr:hover .table-action:hover {
	background: rgb(113, 113, 113);
}

/*
.box {
	border: 1px solid rgb(214, 214, 214);
	margin: 0;
	border-top: 1px solid rgb(204, 204, 204);
	clear: both;
}
.box table {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}

.box > h4 {
	position: relative;
	background: rgb(227, 227, 227);
	color: rgb(50, 50, 50);
	margin: 0;
	font-size: 18px;
	padding: 10px 10px 10px 10px;
	text-shadow: 0 1px 0 white;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.box > h4 .dropdown {
	margin: 0;
	position: absolute;
	top: 10px;
	right: 8px;
}
.box > h4 .dropdown-trigger {
	padding: 7px;
}
.box > h4 .dropdown-menu {
	background: rgb(50, 50, 50);
}
.box > h4 .dropdown-menu h5,
.box > h4 .dropdown-menu label {
	color: white;
	text-shadow: none;
}
.box > h4 a.dropdown-trigger:hover,
.box > h4 a.dropdown-trigger:focus,
.box > h4 a.dropdown-trigger:active {
	color: rgb(50, 50, 50);
}
.box > h4 .active a.dropdown-trigger,
.box > h4 .active a.dropdown-trigger:hover,
.box > h4 .active a.dropdown-trigger:active,
.box > h4 .active a.dropdown-trigger:focus {
	color: white;
	text-shadow: none;
	background: rgb(50, 50, 50);
}
.box tr {
	border-bottom: 1px solid rgb(234, 234, 234);
}
.box tr:last-child {
	border: none;
}
.box th {
	background: rgb(248, 248, 248);
	color: rgb(100, 100, 100);
	text-shadow: 0 1px 0 white;
	padding: 16px 10px;
	border-bottom: 1px solid rgb(214, 214, 214);
	font-size: 16px;
}
.box table tr.error {
	background: rgb(250, 246, 246) !important;
}
.box table tr.error td, .box table tr.error td a {
	color: rgb(144, 35, 40);
}
.box table tr.even,
.box table tr.alt,
.box table tr:nth-of-type(even) {
	background: white;
}
.box td {
	padding: 10px;
}
.box td:last-child.small {
	width: 100px;
	font-size: 12px;
}
.box td:last-child .button {
	margin: 0;
}
.box td:first-child {
	font-weight: 600;
	font-size: 14px;
}
.box tfoot {
	background: white;
	border-top: 1px solid rgb(234, 234, 234);
}
.box tfoot td p {
	text-align: left;
	margin: 0;
	font-size: 14px;
	color: rgb(154, 154, 154);
}

@media screen and (max-width: 1024px) {

	.box table:not(.unresponsive) tr th,
	.box table:not(.unresponsive) tr td {
		display: none;
	}

	.box table:not(.unresponsive) tr td a.table-action,
	.box table:not(.unresponsive) tr td a.table-action:hover {
		top: 8px;
		right: 5px;
		background: none;
		color: rgb(0, 84, 215);
		display: none;
		font-weight: 100;
	}

	.box table:not(.unresponsive) tr th:first-child,
	.box table:not(.unresponsive) tr td:first-child {
		display: table-cell;
	}

	.box table:not(.unresponsive) tr th:nth-child(2),
	.box table:not(.unresponsive) tr td:nth-child(2) {
		display: table-cell;
	}
}

@media screen and (max-width: 640px) {
	.box table:not(.unresponsive) tr th:nth-child(2),
	.box table:not(.unresponsive) tr td:nth-child(2) {
		display: none;
	}
}
*/
