<div class="{{progressBarClassName}}" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
	<span class="sr-only">{{progress}}% Complete</span>
</div>