<label class="tag-field-label">
    {{#if label}}{{label}}{{/if}}
    <div class="form-control">
        <div class="tag-field-cursor"></div>
        <div class="tags-container"></div>
        <div class="tag-field-activity"></div>
    </div>

    <div class="tag-field-search-results"></div>
</label>
