<a href="#" class="tag-clear tag-focusable">
    <span class="tag-label">{{__label__}}</span>
    <i class="fa fa-times-circle"></i>
    <input type="hidden" name="{{__name__}}" value="{{__value__}}">
</a>
