.list-group.pointer .list-group-item {
    cursor: pointer;
}

.list-group-item-actions {
    float: right;
    margin-left: 20px;
    display: none;
}

.list-group-item:hover .list-group-item-actions {
    display: block;
}
