<div class="calendar-masthead">
	<nav class="calendar-navigation">
		<a href="#" class="calendar-navigation-prev"><i class="fa fa-angle-left"></i></a>
		<a href="#" class="calendar-navigation-next"><i class="fa fa-angle-right"></i></a>
	</nav>

	<div class="calendar-header"></div>
	<div class="calendar-sub-header"></div>
</div>

<div class="calendar-view">
	<div class="indicator"></div>

	<table class="calendar-monthly-view">
		<thead>
			<tr>
				<th>Sun</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thur</th>
				<th>Fri</th>
				<th>Sat</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
