form footer { 
	padding: 0 0;
	display: block;
}
form footer [type="submit"]:not(.clear-float) { 
	float: left;
}
form footer { 
	border-top: 1px solid #e6e6e6; 
	margin-top: 20px; 
	padding-top: 20px; 
	position: relative; 
}
form footer.no-border { 
	border-top: 0; 
	margin-top: 0; 
	padding-top: 0; 
}
form footer .cancel:not(.btn) { 
	margin-left: 1em; 
	font-size: 14px; 
	font-weight: 200; 
	position: relative;
	top: 7px;
}
form footer .form-indicator { 
	position: absolute; 
	right: 30px; 
	top: 35px; 
}
form footer .activity-indicator-dimmer { 
	background: transparent; 
	position: static;
}
form footer .activity-indicator-dimmer .activity-indicator { 
	position: relative; 
	right: 0;
}
form footer:after { 
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}
form footer .btn-primary + .btn-default { 
	margin-left: 5px; 
}