.inline-editor-wrapper {
	position: relative;
	display: inline-block;
}
.inline-editor-wrapper .inline-editor-field {
	display: none;
}
.inline-editor-wrapper.inline-editor-editting .inline-editor-field {
	display: block;
}
.inline-editor-wrapper.inline-editor-editting .inline-editor-label {
	display: none;
}
.inline-editor-wrapper .inline-editor-edit-icon {
	display: none;
	position: absolute;
	right: -25px;
	top: 0;
	font-size: 14px;
}
.inline-editor-wrapper:hover:not(.inline-editor-editting) .inline-editor-edit-icon {
	display: block;
}
.inline-editor-wrapper .inline-editor-activity-indicator {
	display: none;
	position: absolute;
	right: -20px;
	top: 50%;
}
.inline-editor-wrapper.inline-editor-editting .inline-editor-activity-indicator {
	display: block;
}
