{{#if showCloseButton}}
    <a href="#" class="popover-close"><i class="fa fa-times-circle"></i></a>
{{/if}}

<div class="arrow"></div>

{{#if header}}
    <{{headerTagName}} class="{{headerClassName}}">{{header}}</{{headerTagName}}>
{{/if}}

<div class="popover-content"></div>
