.selection-pool-search {
    background: #55b776;
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 1000px;
}

.selection-pool-search-activity {
    position: absolute;
    top: 17px;
    right: 20px;
}

.selection-pool-search-clear {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 5px 10px;
    color: gray;
}

.selection-pool-search-clear.show {
    display: block;
}

.show-activity .selection-pool-search-clear.show {
    display: none !important;
}

a.selection-pool-search-clear,
a.selection-pool-search-clear:hover {
    color: gray;
}

a.selection-pool-search-clear:hover {
    color: #18181c;
}

.selection-pool-search-field {
    position: relative;
}

.selection-pool-search-field input {
    border-radius: 100px;
    width: 100%;
    margin: 0;
    font-size: 14px;
}

.selection-pool-search input:focus,
.selection-pool-search input:active {
    border-color: #55b776;
}

.selection-pool-search > div {
    padding: 0;
}

.selection-pool:not(.dropping) .selection-pool-lists > :first-child:after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid #55b776;
}

.selection-pool .droppable-pool {
    border: 2px solid transparent;
    overflow-y: auto;
    height: 350px;
}

.selection-pool .droppable {
    border: 2px solid #55b776;
}
