<div class="activity-indicator-dimmer {{#if dimmed}}dimmed{{/if}} {{#if fixed}}fixed{{/if}}" {{#if dimmedBgColor}}style="background-color: {{../dimmedBgColor}}"{{/if}}>
	
	<span class="activity-indicator"></span>

</div>