<ul class="pagination {{paginationClassName}}">
	<li>
		<a href="#" class="prev-page" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
	</li>
    <li>
		<a href="#" class="next-page" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
    </li>
</ul>