<a href="#" class="{{toggleClassName}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{toggleLabel}} <i class="{{toggleIconClassName}}"></i></a>

<ul class="{{#if menuClassName}}{{menuClassName}}{{/if}}"></ul>
